<h2>Busquedas</h2>
        <hr>
        <ul class="list-group">
            <li routerLink=""
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"
                class="list-group-item"
            >
                Buscar país
            </li>
            <li routerLink="region"
                routerLinkActive="active"
                class="list-group-item"
            >
                Por region
            </li>
            <li routerLink="capital"
                routerLinkActive="active"
                class="list-group-item"
            >
                Por capital
            </li>
        </ul>

<div 
    *ngIf="historial.length > 0;"
    class="bg-secondary rounded d-flex flex-column align-items-center p-1 m-1">
    <div class="list-group list-reset m-2">
        <a 
            *ngFor="let item of historial;"
            href="#"
            (click)="buscar(item);" 
            class="list-group-item list-group-item-action">
            {{item | titlecase }}
        </a>
    </div>
    
    <div>
        <button 
            class="btn btn-danger" 
            (click)="limpiar()">
            Limpiar historial
        </button>
    </div>
</div>


